certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
cs50==4.0.2
Flask==1.1.1
flask-marshmallow==0.10.1
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.0
httplib2==0.13.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-sqlalchemy==0.17.0
mccabe==0.6.1
nodejs==0.1.1
optional-django==0.1.0
python-dateutil==2.8.0
requests==2.22.0
SQLAlchemy==1.3.5
sqlparse==0.3.0
